@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.ttf");
  src: local("Matchbook"), url("./fonts/Matchbook.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne & Limousines.ttf");
  src: local("Champagne & Limousines"), url("./fonts/Champagne & Limousines.ttf") format("truetype");
  font-weight: normal; }

body {
  background-color: #ec6338;
  color: #fee9c6;
  font-family: "Champagne", Helvetica, Arial, sans-serif;
  font-size: 1.4em; }

div#wrapper {
  max-width: 1000px;
  margin: 0 auto; }

div.clear-both {
  clear: both; }

header {
  box-shadow: 0px 0px 12px #160703;
  background-color: #412218;
  background-image: url(../img/header_bg.jpg);
  margin-top: 0; }
  header img#logo {
    margin: 0 auto;
    padding: 12px;
    padding-bottom: 36px;
    display: block;
    width: 400px; }

h1, h2, h3, h4 {
  text-shadow: #91110e 0 -1px 0;
  font-family: Matchbook, Tahoma, sans-serif;
  margin: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

h1 {
  color: #facc88;
  font-size: 5em;
  margin-bottom: 0; }

h2 {
  color: #fee9c6;
  font-size: 3em; }

h3 {
  font-size: 2em; }

a {
  color: #facc88; }

p {
  margin-top: 0; }
  p.desc {
    text-align: center; }

div#maincontent {
  float: left;
  width: 100%; }
div#map-canvas {
  box-shadow: 0px 0px 12px #160703;
  width: 100%;
  margin: 0 auto 12px auto;
  height: 300px;
  background-color: #412218;
  color: #412218;
  font-family: "Champagne", Helvetica, Arial, sans-serif; }
  div#map-canvas h3 {
    text-shadow: none;
    font-family: "Champagne", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0; }

div#sidebar {
  width: 100%; }
  div#sidebar div#locations-list ul#locations {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: visible; }
    div#sidebar div#locations-list ul#locations li {
      border-bottom: solid 1px #dc4515;
      font-size: 1em;
      padding: 12px; }
      div#sidebar div#locations-list ul#locations li .title {
        text-shadow: #91110e 0 -1px 0; }
      div#sidebar div#locations-list ul#locations li span {
        display: block; }
        div#sidebar div#locations-list ul#locations li span.loc-desc {
          display: block;
          font-size: 0.8em; }
          div#sidebar div#locations-list ul#locations li span.loc-desc a {
            display: inline-block;
            width: auto; }
          div#sidebar div#locations-list ul#locations li span.loc-desc span.address {
            font-style: italic;
            margin-bottom: 6px; }
      div#sidebar div#locations-list ul#locations li.selected {
        background-color: #b15c41;
        color: #fee9c6; }
  div#sidebar div#search-bar-wrapper {
    width: 100%; }
    div#sidebar div#search-bar-wrapper input {
      font-family: "Champagne", Helvetica, Arial, sans-serif;
      width: 100%;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      -khtml-border-radius: 6px;
      border-radius: 6px;
      margin-bottom: 12px;
      padding: 6px;
      font-size: 0.8em;
      border: none;
      background-color: #facc88;
      color: #c53d13; }
      div#sidebar div#search-bar-wrapper input:hover, div#sidebar div#search-bar-wrapper input:focus {
        box-shadow: none;
        border: none; }

footer {
  box-shadow: 0px 0px 12px #160703;
  clear: both;
  background-color: #412218;
  background-image: url("../img/header_bg.jpg");
  padding: 12px; }
  footer div#sponsors {
    max-width: 1000px;
    margin: 0 auto; }
    footer div#sponsors ul#sponsor_list {
      width: 100%;
      padding: 0;
      display: table;
      text-align: center; }
      footer div#sponsors ul#sponsor_list li {
        display: table-cell;
        max-width: 100px; }
        footer div#sponsors ul#sponsor_list li img {
          vertical-align: top;
          margin: 0 auto;
          margin-bottom: 12px;
          max-width: 100px;
          display: block; }
        footer div#sponsors ul#sponsor_list li span {
          display: block;
          vertical-align: bottom; }
  footer h1, footer h2, footer h3, footer p, footer a {
    color: #facc88;
    text-shadow: #160703 0 -1px 0; }
  footer a {
    text-decoration: none;
    font-weight: bold; }
  footer p {
    font-size: 0.5em;
    font-style: italic;
    text-align: center; }

@media screen and (max-width: 700px) {
  ul#sponsor_list {
    display: block; } }
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #ec6338; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #c53d13 !important; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #c53d13 !important; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #facc88 !important; }
